*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    display: grid;
}
.principalBanner{
    width: 100%;
    max-width: 100%;
    background-image: url('./images/banner-home.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: grid;
}
.principalBanner div{
    padding: 20%;
    display: grid;
    padding-left: 5%;
    justify-items: left;
}
.principalBanner div a{
    font-family: var(--fonttitle);
    color: var(--blanco);
    padding: 0;
    margin: 0;
    font-size: 300%;
}
.P1{
    font-size: 20pt ;
}
.P2{
    font-size: 30pt;
}
.P3{
    font-size: 25pt;
}

.navBar{
    background-color: #ED8B26;
    display: grid;
    align-items: center;
    height: auto;
    width: 100%;

}

.navLogo{
    padding: 2%;
    width: 20%;
    padding-left: 5%;
    
}
.clases{
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url('./images/categorias-home.png');
    /* background-size:contain; */
    background-repeat:no-repeat ;
    background-size:100% 100%;
    height: auto;
    width: 100%;

}
.deportes,.sociales{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 20%;

}

.nombreClase{
    font-size: 250%;
    font-family: var(--fonttitle);
    color: white;
}
.events{
    /* display: grid; */
    width: 100%;
}
.eventsTitle{
    color: var(--azul);
    padding: 5% 0 5% 0 ;
    letter-spacing:.5vw;
}
.boton{
    padding: 3%;
    margin: 0;
    font-size: 150%;
}
.carrusel{
    
    
    width: 100vw;
    overflow: hidden;
}
.cardsEvents{
    width: 300%;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    justify-items: center;
    transition: all 1s; 
}
.noticiasTitle{
    padding: 5% 0 5% 0 ;
    color: var(--blanco);
    letter-spacing:.5vw;
}
.noticias{
    margin-top: 5%;
    background-color: var(--naranja);
}
.sideBar{
    font-family: var(--font);
    padding: 3%;
    background-color: var(--azul);
}
.sideBar a{
    color: var(--blanco);
}