.cont_landingpage button{
    margin: 0;
    font-size: 25px;
}


/* HEADER / NAVBAR */
.navBar{
    background-color: var(--naranja);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}
.navLogo{
    width:  160px;
}



/* BANNER PRINCIPAL */

.principalBanner{
    display: flex;
    background-image: url('./images/banner-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    background-attachment: fixed;
}


.cont_banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cont_banner h1{
    font-size: 90px;
    line-height: 1;
    color: #fff;
    text-align: left;
    margin-bottom: 40px;
}
.cont_banner h1 span{
    display: block;
}
/* CATEGORIAS  */
.cont_categorias{
    display: flex;
    background-image: url('./images/categorias-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 70px;
}
.cont_categorias :is(.deportes, .sociales){
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.cont_categorias :is(.deportes, .sociales) h3{
    margin-bottom: 20px;
    font-size: 65px;
    color: #fff;
}

.events{
    padding: 80px 20px;
}
.events h2{
    color: var(--azul);
    text-align: center;
    line-height: 1;
    font-size: 65px;
    margin-bottom: 30px;
}

.footer{
    background: var(--azul);
    color: #fff;
    text-align: center;
    padding: 15px
}

@media(max-width:992px){
    .cont_categorias{
        flex-direction: column;
        background-image: none;
        padding-block: 0;
    }

    .cont_categorias .deportes{
        background-image: url('./images/movil-deporte.jpg');
    }

    .cont_categorias .sociales{
        background-image: url('./images/movil-social.jpg');
    }

    .cont_categorias :is(.deportes, .sociales) {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-block: 90px 100px;
    }
}


@media(max-width:425px){
    .navLogo{
        width:  120px;
    }
    .principalBanner{
        padding: 50px 30px;
    }
    .cont_banner h1{
        font-size: 65px;
    }
    .cont_categorias :is(.deportes, .sociales) h3, .events h2{
        font-size: 55px;
    }
}