*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    display: grid;
}
.principalBanner{
    width: 100%;
    max-width: 100%;
    background-image: url('./images/banner-home.png');
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
}
.principalBanner div{
    padding: 20%;
    display: grid;
    padding-left: 10%;
    justify-items: left;
}
.bannerBoton{
    margin: 2% 0% 2% 0%;
}
.principalBanner div span{
    font-family: var(--fonttitle);
    color: var(--blanco);
    padding: 0;
    margin: 0;
    font-size: 300%;
}
.P1{
    font-size: 20pt ;
}
.P2{
    font-size: 30pt;
}
.P3{
    font-size: 25pt;
}

.navBar{
    background-color: #ED8B26;
    display: grid;
    align-items: center;
    height: auto;
    width: 100%;
    grid-template-columns: auto auto;

}

.navLogo{
    padding: 2%;
    width: 20%;
    padding-left: 5%;
    
}
.acceder{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    justify-self: right;
    padding-right: 20px;
}
.navBarButon{
    justify-self: left;
    font-size: 157%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 15px 10px 15px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
.navBarButon svg {
    margin: 0 5px 0 5px;
}
.elipsis {
    color: var(--azul);
    width: max-content;
    transform:  rotate(90deg);
    font-size: 11pt;

    
}
.elipsis svg{
    margin: 1px;
}
.clases{
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url('./images/categorias-home.png');
    background-size:cover;
    background-repeat:no-repeat ;
    -background-size:100% 100%;
    height: auto;
    width: 100%;

}
.deportes,.sociales{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 20%;

}

.nombreClase{
    font-size: 250%;
    font-family: var(--fonttitle);
    color: white;
}
.events{
    width: 100%;
    padding-bottom:5% ;
}
.eventsTitle{
    color: var(--azul);
    padding: 5% 0 5% 0 ;
    letter-spacing:.5vw;
}
.boton{
    padding: 3%;
    margin: 0;
    font-size: 150%;
}
.carrusel{
    width: 100vw;
    overflow: hidden;
}
.cardsEvents{
    width: 300%;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    justify-items: center;
    transition: all 1s; 
}
.noticiasTitle{
    padding: 5% 0 5% 0 ;
    color: var(--blanco);
    letter-spacing:.5vw;
}
.noticias{
    background-color: var(--naranja);
    padding-bottom:5% ;
}
.sideBar{
    font-family: var(--font);
    padding: 3%;
    background-color: var(--azul);
}
.sideBar a{
    color: var(--blanco);
}
.hola{
    width: 50px;
    height: 50px;
    color: var(--naranja);
}

@media (width > 768px) {
    .sideBar{
        padding: 2%;
    }
    .navLogo{
        width: 15%;
        padding: 1.5% 0 1.5% 3%;
    }
    .principalBanner div{
        padding: 15% 0 15% 10%;
    }
    .principalBanner div a{
        font-size: 400%;
    }
    .bannerBoton{
        margin: 2% 0% 2% 0%;
        font-size: 200%;
    }
    .nombreClase{
        font-size: 400%;
    }
    .boton{
        font-size: 200%;
    }
    .eventsTitle{
        font-size: 350%;
    }
    .noticiasTitle{
        font-size: 350%;
    }
    .carrusel{ 
        overflow: visible;
        width: 100%;
        /* padding: 5%; */
    }
    .cardsEvents{
        display:flex;
        grid-template-columns: auto auto auto;
        width: 100%;
        margin-bottom: 5%;
        /* transform: translateX(50%) */
    }
    .carruselButton{
        display: none;
    }

}