.cont_principal{
    min-height: 50vh;
    padding-top: 80px;
    background-image: url('./img/fondo-homeuser.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cont_info_principal{
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    text-shadow: 1px 1px 5px var(--grisoscuro);
}
.cont_info_principal p{
    font-size: 25px;
}

.cont_home :is(h1, h2){
    font-size: 65px;
    color: #fff;
    line-height: 1.2;
    text-shadow: 1px 1px 4px #333333a8;
}
.cont_carrusel{
    width: 80%;
    max-width: 1240px;
    display: block;
    margin: 0 auto -180px;
}

.cont_busqueda{
    background-color: var(--naranja);
    padding-block: 200px 100px;
}
.cont_searchBar{
    margin-top: 50px
}
.cont_searchBar > div{
    left: 0;
    top: 0;
    max-width: 850px;
    display: block;
    margin-inline: auto;
}

.cont_searchBar > div > input {

    border-radius: 0;
    width: calc(100% - 102px);
    padding: 2px 8px;
    left: 0;
    vertical-align: top;
    height: 40px;

}
.cont_searchBar > div > button{
    padding: 11.5px 30px;
    background: var(--azul);
    z-index: 5;
    position: relative;
    transition: var(--trasition);
}
.cont_searchBar > div > button:hover{
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
}
.subcategorias ul{
    padding: 0;
    list-style: none;
    margin-top: 20px;
}
.subcategorias ul li{
    display: inline-block;
    margin-inline: 5px;
    line-height: 1.7;
}
.subcategorias ul li a{
    color: #fff;
    transition: var(--trasition);
}
.subcategorias ul li a:hover{
    font-weight: 700;
}
.subcategorias ul li:not(:last-child)::after{
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0 0 3px 10px;
}


.cont_categoria_home{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont_info_categoria_home{
    width: 40%;
    padding: 50px
}
.cont_carrusel_categoria_home{
    width: 60%;
    padding: 80px 40px 20px;
}


.cat_sociales{
    background-image: url('./img/categoria-sociales.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}


.cat_deportes{
    background-image: url('./img/categoria-deportes.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}

.cont_eventos_seguidos{
    padding-block: 80px;
    background: var(--azul);
}

.cont_eventos_seguidos h2{
    margin-bottom: 50px;
}

@media(max-width:768px){

    .cat_sociales{
        flex-direction: column;
    }
    .cat_deportes{
        flex-direction: column-reverse;
    }

    .cont_categoria_home :is(.cont_info_categoria_home, .cont_carrusel_categoria_home){
        width: 100%;
    }

}
