.fondo{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    min-height: 500px;
}

.fondo > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 550px;
}

.fondo > div > div{
    width: 50%;
}

.infoDetail{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagenDetail{
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 0;
}

.nombreEvento{
    font-size:  50px;
    color: white;
}

.icono{
    color: rgb(237, 139, 38);
}

.info{
    color: white;
}

.dataContent{
    vertical-align: top;
    background-color: rgb(237, 139, 38);
    padding-block: 30px;
}

.dataContent > div{
    display: flex;
}

.dataContent > div > div{
    width: 50%;
}
.dataInfo{
    color:#fff;
    margin-right: 40px;
}
.dataInfo h2{
    font-size:50px;
    text-align: left;
}
.dataInfo p{
    font-size: 18px;
    text-align: left;
    
}

.home{
    background-color: rgb(237, 139, 38);
}
.cont_pagos{
    padding-block: 50px;
    background: #fff;
    padding: 20px;
}
.cont_datospago > div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
}
.cont_datospago > div > button{
    margin-bottom: 0;
}
.cont_datospago > div > div{
    margin-bottom: 0
}

.creator{
    padding: 10px;
    background-color: rgb(237, 139, 38);
    font-family: var(--fonttitle);
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: white;
}

.discus{
    margin: 0px 75px ;
}


.evento_expires{
    display: block;
    width: calc(100% - 20px);
    padding: 15px 10px;
    background: var(--azul);
    color: #fff;
    text-align: center;
}