.fondo{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    min-height: 500px;
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    padding-inline: 20px;
}

.fondo > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 550px;
}

.fondo > div > div{
    width: 50%;
}
.fondo > div > div:last-child{
    width: calc(50% - 40px);
    padding-inline: 20px;
}
.infoDetail{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagenDetail{
    width: 100%;
    height: 450px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info_detail > div{
    margin-bottom: 10px;
}
.info_detail > div:nth-child(3){
    margin-bottom: 35px;
}
.nombreEvento{
    font-size:  50px;
    color: white;
    line-height: 1;
    margin-top: 0;
}

.icono{
    color: rgb(237, 139, 38);
}

.info{
    color: white;
}

.dataContent{
    vertical-align: top;
    background-color: rgb(237, 139, 38);
    padding: 30px 20px;
    width: calc(100% - 40px);
}

.dataContent > div{
    display: flex;
}

.dataContent > div > div{
    width: 50%;
}
.dataInfo{
    color:#fff;
    margin-right: 40px;
}
.dataInfo h2{
    font-size:50px;
    text-align: left;
    margin-top:0
}
.dataInfo p{
    font-size: 18px;
    text-align: left;
    
}

.home{
    background-color: rgb(237, 139, 38);
}
.cont_pagos{
    padding-block: 50px;
    background: #fff;
    padding: 20px;
}
.cont_datospago > div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
}
.cont_datospago > div > button{
    margin-bottom: 0;
}
.cont_datospago > div > div{
    margin-bottom: 0
}

.creator{
    padding: 10px;
    background-color: rgb(237, 139, 38);
    font-family: var(--fonttitle);
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: white;
}

.discus{
    margin: 0px 75px ;
}


.evento_expired{
    display: block;
    width: calc(100% - 20px);
    padding: 15px 10px;
    color: var(--azul);
    text-align: center;
    font-weight: 600;
    font-size: 21px;
}


@media(max-width: 768px){

    .imagenDetail{
        display: none;
    }
    .fondo > div > div{
        width: 100%;
    }
    .fondo > div {
        flex-direction: column;
        padding-block: 50px; 
        min-height: auto;
    }
    .fondo > div > div:last-child{
        width: calc( 100% - 40px );
        padding-inline: 20px;
    }
    .dataContent{
        width: calc(100% - 40px);
        padding-inline: 20px;
    }
    .dataContent > div > div{
        width: 100%;
    }
    .dataInfo{
        margin: 0;
    }
    .dataInfo:first-child{
        margin-bottom: 30px;
    }
    .dataContent > div{
        flex-direction: column;
        align-items: center;
        padding-block: 50px;
    }
    .dataContent > div h2{
        margin-top: 0;
        line-height: 1;
        font-size: 40px;
    }
    .dataContent > div p{
        font-size: 15px;
        line-height: 1.5;
    }


}


@media(max-width: 425px){
    .cont_datospago > div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
}