.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    font-size: 50px;
    margin-right: 39.5%;
}

.title2{
    font-size: 50px;
}

.cardsEvents{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 10% 0% 10%;
}

.cont-subcategories{
    background-color: var(--naranja);
    margin-top: 10px;
    padding: 20px 20px 50px;
}

.hobby{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(1, 56, 95);
    margin-bottom: 10px;
}

.hobbytitle{
    margin-top: 10px;
    margin-left: 10px;
}