
.cardsEvents{
    display:flex;
    justify-content:space-around
}

.contenedor{
    border-style: solid;
    border-color: rgb(1, 56, 95);
    padding: 25px;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagen{
    width: 30vh; 
    height: 15vh;
    margin: 5px;    
    border-radius: 15px;
}

.nameCard{
    color:rgb(1, 56, 95);
}

.locationCard{
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

.dateCard{
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

background-image: linear-gradient(to right, rgb(1, 56, 95) 30%, rgb(88, 74, 151) 50%, rgb(237, 139, 38) 70%);