


.contenedor{
    border: solid 5px;
    border-color: rgb(1, 56, 95);
    padding: 5px;
    /* box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;  */
    display: grid;
    justify-content: center;
    flex-direction: column;
    width:80%;
    /* margin:0 10px 0 10px; */
    
}

.imagen{
    width:100%;
    /* height:max-content; */
    /* margin: 5px;     */
}

.nameCard{
    color:rgb(1, 56, 95);
}

.locationCard{
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

.dateCard{
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}


