.navBar{
    background-color:#ed8b26;
    width: 100%;
    margin: 0; 
    display: grid;
    grid-template-columns:auto auto ;

}
.icono{
    justify-self: left;
    padding: 1.5%;
    padding-left: 5%;

}
.icono img{
    height: 50px;  
}
.menu{
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    margin-right: 5%;
}
.desplegable {
    background-color: #01385f; 
    height: 50px;
    top: 13px; 
    align-content: center;
    cursor: pointer;
}
.button{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20pt;
    gap: 5px;
}

.desplegable ul{
    top: 50px;
    display: grid;
    color: wheat;
    height: 0;
    z-index: 10;
    overflow:hidden;
	height:0%;
    justify-items: center;
    right: 20px;
}
.desplegable ul div{
    color: white;
    list-style: none;
}
.desplegable:hover ul {
 
    position:sticky;
    display: block;
    height: fit-content;
    overflow:visible;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;


}


.desplegable:hover ul div{
    
    font-size: 20pt;
    font-family: var(--fonttitle);
    background-color: var(--naranja);
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: fit-content;
    width: 100%;

}
.desplegable ul div:hover {
    background-color: var(--azul);
}
.desplegable ul div:hover a{
    color: var(--blanco);
}
.desplegable ul div a{
    padding: 5px;
    color: black;
}
.profileName{
    color: var(--blanco);
    font-family: var(--fonttitle);
}

.menu .desplegable svg {
    color: white; 
    font-size: 22pt;
    padding: 3px;
}
